{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}{{  game.nombre.nombre }}{% endblock %}

{% block content %}

    <h2>{{  game.nombre.nombre }}</h2>

    <h3>Trailer:</h3>
    <video width="320" height="240" autoplay controls="controls">
        <source src="{% static game.trailer.url|slice:"7:" %}" type="video/mp4">
        Your browser does not support the video tag.
    </video><br>
    <img src="{% static game.foto.url|slice:"7:" %}"><br>
    Fecha de lanzamiento: {{ game.fecha_lanzamiento|date:"D d M Y" }}<br>
    Serie: {{ game.serie }}<br>
    Publisher: {{ game.publisher }}<br>
    Plataforma: {{ game.plataforma }}<br>
    Numero de jugadores: {{ game.player }}<br>
    Precio: {{ game.precio }}<br>
    {{ game.resumen }}<br>

{% endblock %}