body{
    background-color: chartreuse;
}

.navbar .active {
    font-weight: bold;
}



#pito {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navli{
	/*display: inline;*/
	float: left;
	
}

.cuadro{
    display:block;
    margin-right:30%;
    margin-left:30%;
    background-color: white;
}

.nava{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nava:hover {
    background-color: #111;
}