{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %}Intelligent Game Review{% endblock %}

{% block content %}
<div id="WRhome" style="background-image:url({% static 'images/darksouls3.png' %});">
<h1 class="title p1" id="raul">Project Inteligent Videogame Reviews</h1>
    <h3 class="p1" id="mama">
        Existe un segmento del Mercado Gamer que experimenta un dolor en el Mercado: hay incertidumbre por parte del
        consumidor hacia los sitios web que realizan las reviews de los juegos y por lo tanto dificulta la toma de
        decisiones a la hora de realizar una compra con un presupuesto determinado.
        <br>
        Como respuesta a este problema proponemos crear un sistema gratuito de recomendaciones inteligentes de
        videojuegos basado en las reseñas que dejan tus amigos, los Tweets de positivos o negativos de otros gamers en
        el mundo.
        <br><br>
        <!--<img src="{% static 'images/darksouls3.png' %}" id="fondeamela">-->
    </h3>
    </div>
{% endblock %}