{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %}Intelligent Game Review{% endblock %}

{% block content %}
<div id="WRhome" style="background-image:url({% static 'images/darksouls3.png' %});">
<h1 class="title p1" id="raul">Project Inteligent Videogame Reviews</h1>
    <h3 class="p1" id="mama">
        Hoy en día los Gamers se enfrentan a un problema al buscar juegos nuevos: los sitios que los califican venden las buenas calificaciones. Esto complica el elegir un buen juego, ya que no se sabe si el juego en verdad será bueno o ha pagado para que sea calificado con una mejor nota. <br>
Para contrarrestar este problema hemos diseñado una aplicación que con base en los tweets sobe los videojuegos para así obtener una calificación más realista con base en lo que los usuarios están diciendo en realidad. 

        <br><br>
        <!--<img src="{% static 'images/darksouls3.png' %}" id="fondeamela">-->
    </h3>
    </div>
{% endblock %}