{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	{% block nav %}
		<ul id="pito" class="navbar">
			<li class="navli"><a href="#" class="nava">Home</a></li>
			<li class="navli"><a href="{% url 'reviews:search' %}" class="nava">kuz</a></li>
		</ul><br>
	{% endblock %}

    {% block content %}{% endblock %}
</body>
</html>