{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,400italic|Changa+One' rel='stylesheet'
          type='text/css'>

</head>
<body>
	{% block nav %}
		<ul id="pito" class="navbar">
            <li class="navli"><a href="{% url  'index' %}" class="nava">Home</a></li>
			<li class="navli"><a href="{% url 'reviews:search' %}" class="nava">Buscar Juego</a></li>
            <li class="navli"><a href="{% url 'info' %}" class="nava">Informacion</a></li>
		</ul><br>
	{% endblock %}

    {% block content %}{% endblock %}
</body>
</html>
